@page "/UserPage"
@using BlazorTestApp.UserDataTypes
@rendermode InteractiveServer

<PageTitle>User List</PageTitle>

<h1>User List</h1>

<div class="row row-cols-auto">
    <div class="col btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" @onclick="BlockUsers"><i class="bi bi-lock-fill"></i> Block</button>
        <button type="button" class="btn btn-primary" @onclick="UnblockUsers"><i class="bi bi-unlock-fill"></i></button>
        <button type="button" class="btn btn-danger" @onclick="DeleteUsers"><i class="bi bi-trash-fill"></i></button>
    </div>
</div>

@if (usersList == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <td class="col-1"></td>
            <th class="col-2">Name</th>
            <th class="col-3">Email</th>
            <th class="col-3">Last Login</th>
            <th class="col-3">Status</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        @foreach (var userDataType in usersList)
        { 
            <tr>
                <td><input class="form-check-input" 
                           type="checkbox" 
                           id="checkboxNoLabel" 
                           checked="@selectedUsersList.Contains(userDataType)" 
                           aria-label="..." 
                           @oninput="() => ChangeState(userDataType)"></td>
                <td>@userDataType.Name</td>
                <td>@userDataType.Email</td>
                <td>@userDataType.LastLogin.ToShortDateString()</td>
                <td>@userDataType.Status</td>
            </tr>
        }

        </tbody>
    </table>
}

@code {
    
    
    List<UserInformation> usersList =
    [
        new UserInformation{Name = "a",Email = "a@gmail.com",LastLogin = new DateTime(2026, 4, 18),Status = "Active"},
        new UserInformation{Name = "b",Email = "b@gmail.com",LastLogin = new DateTime(2026, 3, 17),Status = "Unverified"},
        new UserInformation{Name = "c",Email = "c@gmail.com",LastLogin = new DateTime(2025, 2, 1),Status = "Block"},
        new UserInformation{Name = "d",Email = "d@gmail.com",LastLogin = new DateTime(2026, 4, 18),Status = "Unverified"},
        new UserInformation{Name = "e",Email = "e@gmail.com",LastLogin = new DateTime(2026, 5, 1),Status = "Active"},
        new UserInformation{Name = "f",Email = "b@gmail.com",LastLogin = new DateTime(2024, 6, 8),Status = "Active"},
        new UserInformation{Name = "g",Email = "f@gmail.com",LastLogin = new DateTime(2026, 8, 4),Status = "Block"},
        new UserInformation{Name = "h",Email = "h@gmail.com",LastLogin = new DateTime(2023, 2, 3),Status = "Block"},
        new UserInformation{Name = "i",Email = "i@gmail.com",LastLogin = new DateTime(2025, 1, 18),Status = "Active"},
        new UserInformation{Name = "j",Email = "j@gmail.com",LastLogin = new DateTime(2025, 9, 1),Status = "Unverified"},
        new UserInformation{Name = "k",Email = "k@gmail.com",LastLogin = new DateTime(2025, 11, 2),Status = "Active"},
        new UserInformation{Name = "l",Email = "l@gmail.com",LastLogin = new DateTime(2026, 1, 4),Status = "Block"},
    ];

    List<UserInformation> selectedUsersList = [];
    
    private void ChangeState(UserInformation user)
    {
        if (selectedUsersList.Contains(user))
        {
            selectedUsersList.Remove(user);
        }
        else
        {
            selectedUsersList.Add(user);
        }
    }

    private void BlockUsers()
    {
        foreach (var user in selectedUsersList)
        {
            user.Status = "Block";
        }
        selectedUsersList.Clear();
    }
    
    private void UnblockUsers()
    {
        foreach (var user in selectedUsersList)
        {
            user.Status = "Active";
        }
        selectedUsersList.Clear();
    }

    private void DeleteUsers()
    {
        foreach (var user in selectedUsersList)
        {
            usersList.Remove(user);
        }
        selectedUsersList.Clear();
    }
} 